In [2]:
import pandas as pd
from pandas import DataFrame, Series

In [3]:
data = DataFrame([1,3,6,7,8])
data

   0
0  1
1  3
2  6
3  7
4  8

# JSON (JavaScript Object Notation)

JSON is a lightweight data format that is easy for humans to read and write and easy for machines to parse. It's widely used for data exchange on the web and in many applications.

**Key Features:**

* **Text-based:**  JSON is written in plain text, making it human-readable and portable across different systems.
* **Lightweight:**  Its simple structure makes it efficient for data transmission.
* **Language-independent:**  Although it originated from JavaScript, JSON is supported by many programming languages, including Python.

**Structure:**

JSON is built on two main structures:

1. **Objects:**  Collections of key-value pairs. Keys are enclosed in double quotes, and values can be:
   - Strings (in double quotes)
   - Numbers
   - Booleans (`true` or `false`)
   - `null`
   - Other objects
   - Arrays

2. **Arrays:** Ordered lists of values. Values can be of any valid JSON data type.

**Example:**

```json
{
  "name": "John Doe",
  "age": 30,
  "city": "New York",
  "is_active": true,
  "hobbies": ["reading", "hiking", "coding"]
}
```

In Python:

- **json.dumps()**: Converts Python objects to JSON strings.
- **json.loads()**: Converts JSON strings to Python objects.

Common Uses:
**Web APIs**: Exchanging data between web servers and clients.
**Configuration files**: Storing application settings.
**Data storage**: Serializing data for storage in databases or files.

To pretty pring a file in python directly from console, you can save in a json format and use:
```python
python -m jston.tool <file>
```
Or you can use the < operator in \*nix systems

## Rules for Keys

Allowed: Strings, Unique values, Case sentitive, Valid Chars \[0-9,a-z,A-Z,-_], no spaces or special chars

- Must be **strings**: Keys are always enclosed in double quotes (").
- **Unique** within an object: Each key within an object must be unique. Duplicate keys are not allowed.
- **Case-sensitive**: "name" and "Name" are considered different keys.
- **Valid characters**:
  - Letters (a-z, A-Z)
  - Digits (0-9)
  - Underscore (_)
  - Hyphen (-)
- **No spaces or special characters** (except underscore and hyphen): Use underscores or camelCase for multi-word keys (e.g., "first_name", "firstName").

**Rules for Values**

- Can be any valid JSON data type:
  - **String** (in double quotes)
  - **Number** (integer or floating-point)
  - **Boolean** (true or false)
  - **null**
  - **Object** (another key-value pair collection)
  - **Array** (an ordered list of values)
- No undefined or functions: Unlike JavaScript objects, JSON values cannot be undefined or functions.

### Examples

```json
Basic Example
{
    "Key":"value"
}

Multiple Key Value Pairs
{
    "Key":"value",
    "Key2":"value2"
}

Where values are strings
{
    "Item":"Hoodie"
}

Where values are Numbers
{
    "year":1985
}


Where values are True or False
{
    "active":True,
    "IsReady":False
}

Where values are Null
{
    "price":null
}
Where value is another Object
{
    "key":{
        "key":"value"
    }
}
Where value is an Array
{
    "key":[]
}
```

**Online Tools to validate JSON**

https://jsonchecker.com/

https://jsonlint.com/

### Working with arrays

**Examples**

```json
Where Values are Strings
[
    "Bananas",
    "Eggs",
    "Bread"
]

Where Values are Numbers
[
    100,
    200,
    400,
    800
]


Where Values are Booleans
[
    Ture,
    False,
    False,
    False
]

Where Values are Null
[
    null,
    1200,
    null,
    80
]

Where Values are Objects
[
    ("key":"Values"),
    ("key":"Values"),
    ("key":"Values")
]

Where Values are Arrays
[
    ["Bananas","Eggs","Bread"],
    [100,200,400]
]
```

## Nested JSON

**Nest as a tree**

```json
{
    "firstKey":
        {
        "branch":
            [
            "leaf1",
            "leaf2",
            "leaf3"
            ]
        }
}


[
    {
    "_id": 1,
    "author": "Albert Einstein",
    "quote": "Everything should be as simple as it can be, but not simpler!",
    "source": null
    },
    {
    "_id": 2,
    "author": "Albert Einstein",
    "quote": "Logic will get you from A to Z; imagination will get you everywhere.",
    "source": null
    },
    {
    "_id": 3,
    "author": "Albert Einstein",
    "quote": "Try not to become a man of success. Rather become a man of value.",
    "source": null
    },
    {
    "_id": 4,
    "author": "Albert Einstein",
    "quote": "It is not that I'm so smart. But I stay with the questions much longer.",
    "source": null
    }
]
```

## Checking Converted Data Types



| JSON                                  | Direction | Python                             |
|:--------------------------------------|:---------:|:-----------------------------------|
| object <pre>{"key":"value"}</pre>     |   <-->    | dict  <pre>{'key':'value'}</pre>   |
| array  <pre>[100,200,300]</pre>       |   <-->    | list <pre>[100,200,300]</pre>      |
| array <pre>["Hello","There"]</pre>    |    <--    | tuple <pre>('Hello','There')</pre> |
| string  <pre>"Hello There!"</pre>     |   <-->    | str <pre>'Hello There!'</pre>      |
| number <pre>15<pre>                   |   <-->    | int <pre>15<pre>                   |
| number (with decimals) <pre>6.99<pre> |   <-->    | float <pre>6.99<pre>               |
| true                                  |   <-->    | True                               |
| false                                 |   <-->    | False                              |
| null                                  |   <-->    | None                               |

In [11]:
import json
file = open('einstein_quotes.json')
data = json.load(file)
data

[{'_id': 1,
  'author': 'Albert Einstein',
  'quote': 'Everything should be as simple as it can be, but not simpler!',
  'source': None},
 {'_id': 2,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.',
  'source': None},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None}]

In [12]:
type(data)

list

### Deserialize from string

```json
[{'_id': 1,
  'author': 'Albert Einstein',
  'quote': 'Everything should be as simple as it can be, but not simpler!',
  'source': None},
 {'_id': 2,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.',
  'source': None},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None}]

```

**Deserializing** a JSON string means converting it from its text-based representation (a string) into a data structure that your programming language can understand and work with (like a Python dictionary or list).

Think of it like this:

**Serialization**: Taking a data structure (like a Python dictionary) and turning it into a JSON string (text). This is like "packaging" the data for transport or storage.
**Deserialization**: Taking a JSON string (text) and turning it back into a data structure (like a Python dictionary). This is like "unpacking" the data so you can use it.

### Why deserialize?

**Data usage**: Deserialization allows you to access and manipulate the data within your program.
**Interoperability**: JSON is a common format for exchanging data between different systems and languages. Deserialization lets you use JSON data received from other sources.
Data processing: You can deserialize JSON data, process it, and then serialize it back to JSON if needed.

In [15]:
# example
json_msg = '{"name": "Alice", "age": 30}'

In [16]:
# deserialization in Python would look like this:

import json

json_string = '{"name": "Alice", "age": 30}'

data = json.loads(json_string) 

print(data)  # Output: {'name': 'Alice', 'age': 30}
print(type(data))  # Output: <class 'dict'>

{'name': 'Alice', 'age': 30}
<class 'dict'>

In [17]:
string = """
[
    {
    "_id": 1,
    "author": "Albert Einstein",
    "quote": "Everything should be as simple as it can be, but not simpler!",
    "source": null
    },
    {
    "_id": 2,
    "author": "Albert Einstein",
    "quote": "Logic will get you from A to Z; imagination will get you everywhere.",
    "source": null
    },
    {
    "_id": 3,
    "author": "Albert Einstein",
    "quote": "Try not to become a man of success. Rather become a man of value.",
    "source": null
    },
    {
    "_id": 4,
    "author": "Albert Einstein",
    "quote": "It is not that I'm so smart. But I stay with the questions much longer.",
    "source": null
    }
]
"""

In [18]:
data = json.loads(string)
data

[{'_id': 1,
  'author': 'Albert Einstein',
  'quote': 'Everything should be as simple as it can be, but not simpler!',
  'source': None},
 {'_id': 2,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.',
  'source': None},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None}]

In [19]:
type(data)

list

In [20]:
type(data[0])

dict

In [21]:
type(data[0]['_id'])

int

In [22]:
type(data[0]['author'])

str

In [23]:
data[0]['author']

'Albert Einstein'

In [24]:
type(data[0]['source'])

NoneType

## Serializing JSON

In [26]:
import json
file = open('weather_alert.json')
data = json.load(file)
type(data)

dict

In [27]:
data

{'alerts': {'alert': [{'headline': 'Flood Warning issued January 05 at 9:47PM EST until January 07 at 6:15AM EST by NWS',
    'msgtype': 'Alert',
    'severity': 'Moderate',
    'urgency': 'Expected',
    'areas': 'Calhoun; Lexington; Richland',
    'category': 'Met',
    'certainty': 'Likely',
    'event': 'Flood Warning',
    'note': 'Alert for Calhoun; Lexington; Richland (South Carolina) Issued by the National Weather Service',
    'effective': '2021-01-05T21:47:00-05:00',
    'expires': '2021-01-07T06:15:00-05:00',
    'desc': '...The Flood Warning continues for the following rivers in South\nCarolina...\nCongaree River At Carolina Eastman affecting Richland, Calhoun\nand Lexington Counties.\nCongaree River At Congaree National Park-Gadsden affecting\nCalhoun and Richland Counties.\nNorth Fork Edisto River At Orangeburg affecting Orangeburg County.\n...The Flood Warning is now in effect until Thursday morning...\nThe Flood Warning continues for\nthe Congaree River At Carolina Eastman.\n* Until Thursday morning.\n* At 9:28 PM EST Tuesday the stage was 115.6 feet.\n* Flood stage is 115.0 feet.\n* Minor flooding is occurring and minor flooding is forecast.\n* Recent Activity...The maximum river stage in the 24 hours ending\nat 9:28 PM EST Tuesday was 118.2 feet.\n* Forecast...The river will rise to 115.7 feet just after midnight\ntonight. It will then fall below flood stage tomorrow morning to\n114.2 feet and begin rising again tomorrow evening. It will rise\nto 114.3 feet early Thursday morning. It will then fall again and\nremain below flood stage.\n* Impact...At 115.0 feet, Flooding occurs in low lying areas of the\nCarolina Eastman Facility and at the Congaree National Park.\n* Flood History...This crest compares to a previous crest of 116.3\nfeet on 12/03/2020.\n&&',
    'instruction': 'A Flood Warning means that flooding is imminent or occurring. All\ninterested parties should take necessary precautions immediately.\nMotorists should not attempt to drive around barricades or drive\ncars through flooded areas.\nCaution is urged when walking near riverbanks.\nAdditional information is available at www.weather.gov.\nThe next statement will be issued Wednesday morning at 1000 AM EST.'},
   {'headline': 'Flood Warning issued January 05 at 9:47PM EST until January 09 at 4:00AM EST by NWS',
    'msgtype': 'Alert',
    'severity': 'Moderate',
    'urgency': 'Expected',
    'areas': 'Calhoun; Richland',
    'category': 'Met',
    'certainty': 'Likely',
    'event': 'Flood Warning',
    'note': 'Alert for Calhoun; Richland (South Carolina) Issued by the National Weather Service',
    'effective': '2021-01-05T21:47:00-05:00',
    'expires': '2021-01-09T04:00:00-05:00',
    'desc': '...The Flood Warning continues for the following rivers in South\nCarolina...\nCongaree River At Carolina Eastman affecting Richland, Calhoun\nand Lexington Counties.\nCongaree River At Congaree National Park-Gadsden affecting\nCalhoun and Richland Counties.\nNorth Fork Edisto River At Orangeburg affecting Orangeburg County.\n...The Flood Warning is now in effect until early Saturday morning...\nThe Flood Warning continues for\nthe Congaree River At Congaree National Park-Gadsden.\n* Until late Friday night.\n* At 9:00 PM EST Tuesday the stage was 16.5 feet.\n* Flood stage is 15.0 feet.\n* Minor flooding is occurring and minor flooding is forecast.\n* Recent Activity...The maximum river stage in the 24 hours ending\nat 9:00 PM EST Tuesday was 17.2 feet.\n* Forecast...The river is expected to fall below flood stage early\nFriday morning and continue falling to 12.4 feet Sunday evening.\n* Impact...At 15.0 feet, Flooding begins in the Congaree National\nPark. This will begin to produce flooding of portions of the lower\nboardwalk.\n* Impact...At 17.0 feet, The access road to the Sandy Run\nsubdivision becomes flooded. The lower boardwalk in the Congaree\nNational Park becomes flooded by Cedar Creek.\n* Impact...At 18.0 feet, Several homes in the Sandy Run subdivision\nalong the river become flooded. At 18 feet the river covers the\nWeston Lake overlook in the Congaree National Park. Between 18 and\n18.5 feet the river begins to cover sections of the elevated\nboardwalk.\n* Flood History...This crest compares to a previous crest of 16.3\nfeet on 12/03/2020.\n&&',
    'instruction': 'A Flood Warning means that flooding is imminent or occurring. All\ninterested parties should take necessary precautions immediately.\nMotorists should not attempt to drive around barricades or drive\ncars through flooded areas.\nCaution is urged when walking near riverbanks.\nAdditional information is available at www.weather.gov.\nThe next statement will be issued Wednesday morning at 1000 AM EST.'}]}}

### Serialize to a file

In [29]:
export_file = open('new.json', 'w')
json.dump(data,export_file)
export_file.close()

```python
export_file = open('new.json', 'w')
```

- This line opens a file named "new.json" in write mode ('w').
- If the file doesn't exist, it will be created.
- If the file already exists, its contents will be overwritten.
- The open() function returns a file object, which is assigned to the variable export_file. This object allows you to interact with the file.

```python
json.dump(data, export_file)
```

- This line uses the json.dump() function to write data to the opened file.
- data: This should be a Python object (like a dictionary or list) that you want to store as JSON.
- export_file: This is the file object where the JSON data will be written.

```python
export_file.close()
```

- This line closes the file. It's important to close files afte

### Pretty Print

In [32]:
export_file = open('pretty_print.json', 'w')
json.dump(data, export_file, indent=4)
export_file.close()

### Sort Keys

In [34]:
export_file = open('sort_keys.json', 'w')
json.dump(data, export_file, indent=4, sort_keys=True)
export_file.close()

## Serialize to a String

In [36]:
json.dumps(data)

'{"alerts": {"alert": [{"headline": "Flood Warning issued January 05 at 9:47PM EST until January 07 at 6:15AM EST by NWS", "msgtype": "Alert", "severity": "Moderate", "urgency": "Expected", "areas": "Calhoun; Lexington; Richland", "category": "Met", "certainty": "Likely", "event": "Flood Warning", "note": "Alert for Calhoun; Lexington; Richland (South Carolina) Issued by the National Weather Service", "effective": "2021-01-05T21:47:00-05:00", "expires": "2021-01-07T06:15:00-05:00", "desc": "...The Flood Warning continues for the following rivers in South\\nCarolina...\\nCongaree River At Carolina Eastman affecting Richland, Calhoun\\nand Lexington Counties.\\nCongaree River At Congaree National Park-Gadsden affecting\\nCalhoun and Richland Counties.\\nNorth Fork Edisto River At Orangeburg affecting Orangeburg County.\\n...The Flood Warning is now in effect until Thursday morning...\\nThe Flood Warning continues for\\nthe Congaree River At Carolina Eastman.\\n* Until Thursday morning.\\n* At 9:28 PM EST Tuesday the stage was 115.6 feet.\\n* Flood stage is 115.0 feet.\\n* Minor flooding is occurring and minor flooding is forecast.\\n* Recent Activity...The maximum river stage in the 24 hours ending\\nat 9:28 PM EST Tuesday was 118.2 feet.\\n* Forecast...The river will rise to 115.7 feet just after midnight\\ntonight. It will then fall below flood stage tomorrow morning to\\n114.2 feet and begin rising again tomorrow evening. It will rise\\nto 114.3 feet early Thursday morning. It will then fall again and\\nremain below flood stage.\\n* Impact...At 115.0 feet, Flooding occurs in low lying areas of the\\nCarolina Eastman Facility and at the Congaree National Park.\\n* Flood History...This crest compares to a previous crest of 116.3\\nfeet on 12/03/2020.\\n&&", "instruction": "A Flood Warning means that flooding is imminent or occurring. All\\ninterested parties should take necessary precautions immediately.\\nMotorists should not attempt to drive around barricades or drive\\ncars through flooded areas.\\nCaution is urged when walking near riverbanks.\\nAdditional information is available at www.weather.gov.\\nThe next statement will be issued Wednesday morning at 1000 AM EST."}, {"headline": "Flood Warning issued January 05 at 9:47PM EST until January 09 at 4:00AM EST by NWS", "msgtype": "Alert", "severity": "Moderate", "urgency": "Expected", "areas": "Calhoun; Richland", "category": "Met", "certainty": "Likely", "event": "Flood Warning", "note": "Alert for Calhoun; Richland (South Carolina) Issued by the National Weather Service", "effective": "2021-01-05T21:47:00-05:00", "expires": "2021-01-09T04:00:00-05:00", "desc": "...The Flood Warning continues for the following rivers in South\\nCarolina...\\nCongaree River At Carolina Eastman affecting Richland, Calhoun\\nand Lexington Counties.\\nCongaree River At Congaree National Park-Gadsden affecting\\nCalhoun and Richland Counties.\\nNorth Fork Edisto River At Orangeburg affecting Orangeburg County.\\n...The Flood Warning is now in effect until early Saturday morning...\\nThe Flood Warning continues for\\nthe Congaree River At Congaree National Park-Gadsden.\\n* Until late Friday night.\\n* At 9:00 PM EST Tuesday the stage was 16.5 feet.\\n* Flood stage is 15.0 feet.\\n* Minor flooding is occurring and minor flooding is forecast.\\n* Recent Activity...The maximum river stage in the 24 hours ending\\nat 9:00 PM EST Tuesday was 17.2 feet.\\n* Forecast...The river is expected to fall below flood stage early\\nFriday morning and continue falling to 12.4 feet Sunday evening.\\n* Impact...At 15.0 feet, Flooding begins in the Congaree National\\nPark. This will begin to produce flooding of portions of the lower\\nboardwalk.\\n* Impact...At 17.0 feet, The access road to the Sandy Run\\nsubdivision becomes flooded. The lower boardwalk in the Congaree\\nNational Park becomes flooded by Cedar Creek.\\n* Impact...At 18.0 feet, Several homes in the Sandy Run subdivision\\nalong the river become flooded. At 18 feet the river covers the\\nWeston Lake overlook in the Congaree National Park. Between 18 and\\n18.5 feet the river begins to cover sections of the elevated\\nboardwalk.\\n* Flood History...This crest compares to a previous crest of 16.3\\nfeet on 12/03/2020.\\n&&", "instruction": "A Flood Warning means that flooding is imminent or occurring. All\\ninterested parties should take necessary precautions immediately.\\nMotorists should not attempt to drive around barricades or drive\\ncars through flooded areas.\\nCaution is urged when walking near riverbanks.\\nAdditional information is available at www.weather.gov.\\nThe next statement will be issued Wednesday morning at 1000 AM EST."}]}}'

### Pretty Print

In [38]:
json.dumps(data, indent=4)

'{\n    "alerts": {\n        "alert": [\n            {\n                "headline": "Flood Warning issued January 05 at 9:47PM EST until January 07 at 6:15AM EST by NWS",\n                "msgtype": "Alert",\n                "severity": "Moderate",\n                "urgency": "Expected",\n                "areas": "Calhoun; Lexington; Richland",\n                "category": "Met",\n                "certainty": "Likely",\n                "event": "Flood Warning",\n                "note": "Alert for Calhoun; Lexington; Richland (South Carolina) Issued by the National Weather Service",\n                "effective": "2021-01-05T21:47:00-05:00",\n                "expires": "2021-01-07T06:15:00-05:00",\n                "desc": "...The Flood Warning continues for the following rivers in South\\nCarolina...\\nCongaree River At Carolina Eastman affecting Richland, Calhoun\\nand Lexington Counties.\\nCongaree River At Congaree National Park-Gadsden affecting\\nCalhoun and Richland Counties.\\nNorth Fork Edisto River At Orangeburg affecting Orangeburg County.\\n...The Flood Warning is now in effect until Thursday morning...\\nThe Flood Warning continues for\\nthe Congaree River At Carolina Eastman.\\n* Until Thursday morning.\\n* At 9:28 PM EST Tuesday the stage was 115.6 feet.\\n* Flood stage is 115.0 feet.\\n* Minor flooding is occurring and minor flooding is forecast.\\n* Recent Activity...The maximum river stage in the 24 hours ending\\nat 9:28 PM EST Tuesday was 118.2 feet.\\n* Forecast...The river will rise to 115.7 feet just after midnight\\ntonight. It will then fall below flood stage tomorrow morning to\\n114.2 feet and begin rising again tomorrow evening. It will rise\\nto 114.3 feet early Thursday morning. It will then fall again and\\nremain below flood stage.\\n* Impact...At 115.0 feet, Flooding occurs in low lying areas of the\\nCarolina Eastman Facility and at the Congaree National Park.\\n* Flood History...This crest compares to a previous crest of 116.3\\nfeet on 12/03/2020.\\n&&",\n                "instruction": "A Flood Warning means that flooding is imminent or occurring. All\\ninterested parties should take necessary precautions immediately.\\nMotorists should not attempt to drive around barricades or drive\\ncars through flooded areas.\\nCaution is urged when walking near riverbanks.\\nAdditional information is available at www.weather.gov.\\nThe next statement will be issued Wednesday morning at 1000 AM EST."\n            },\n            {\n                "headline": "Flood Warning issued January 05 at 9:47PM EST until January 09 at 4:00AM EST by NWS",\n                "msgtype": "Alert",\n                "severity": "Moderate",\n                "urgency": "Expected",\n                "areas": "Calhoun; Richland",\n                "category": "Met",\n                "certainty": "Likely",\n                "event": "Flood Warning",\n                "note": "Alert for Calhoun; Richland (South Carolina) Issued by the National Weather Service",\n                "effective": "2021-01-05T21:47:00-05:00",\n                "expires": "2021-01-09T04:00:00-05:00",\n                "desc": "...The Flood Warning continues for the following rivers in South\\nCarolina...\\nCongaree River At Carolina Eastman affecting Richland, Calhoun\\nand Lexington Counties.\\nCongaree River At Congaree National Park-Gadsden affecting\\nCalhoun and Richland Counties.\\nNorth Fork Edisto River At Orangeburg affecting Orangeburg County.\\n...The Flood Warning is now in effect until early Saturday morning...\\nThe Flood Warning continues for\\nthe Congaree River At Congaree National Park-Gadsden.\\n* Until late Friday night.\\n* At 9:00 PM EST Tuesday the stage was 16.5 feet.\\n* Flood stage is 15.0 feet.\\n* Minor flooding is occurring and minor flooding is forecast.\\n* Recent Activity...The maximum river stage in the 24 hours ending\\nat 9:00 PM EST Tuesday was 17.2 feet.\\n* Forecast...The river is expected to fall below flood stage early\\nFriday morning and continue falling to 12.4 feet Sunday evening.\\n* Impact...At 15.0 feet, Flooding begins in the Congaree National\\nPark. This will begin to produce flooding of portions of the lower\\nboardwalk.\\n* Impact...At 17.0 feet, The access road to the Sandy Run\\nsubdivision becomes flooded. The lower boardwalk in the Congaree\\nNational Park becomes flooded by Cedar Creek.\\n* Impact...At 18.0 feet, Several homes in the Sandy Run subdivision\\nalong the river become flooded. At 18 feet the river covers the\\nWeston Lake overlook in the Congaree National Park. Between 18 and\\n18.5 feet the river begins to cover sections of the elevated\\nboardwalk.\\n* Flood History...This crest compares to a previous crest of 16.3\\nfeet on 12/03/2020.\\n&&",\n                "instruction": "A Flood Warning means that flooding is imminent or occurring. All\\ninterested parties should take necessary precautions immediately.\\nMotorists should not attempt to drive around barricades or drive\\ncars through flooded areas.\\nCaution is urged when walking near riverbanks.\\nAdditional information is available at www.weather.gov.\\nThe next statement will be issued Wednesday morning at 1000 AM EST."\n            }\n        ]\n    }\n}'

### Sorted Keys

In [40]:
json.dumps(data, indent=4, sort_keys=True)

'{\n    "alerts": {\n        "alert": [\n            {\n                "areas": "Calhoun; Lexington; Richland",\n                "category": "Met",\n                "certainty": "Likely",\n                "desc": "...The Flood Warning continues for the following rivers in South\\nCarolina...\\nCongaree River At Carolina Eastman affecting Richland, Calhoun\\nand Lexington Counties.\\nCongaree River At Congaree National Park-Gadsden affecting\\nCalhoun and Richland Counties.\\nNorth Fork Edisto River At Orangeburg affecting Orangeburg County.\\n...The Flood Warning is now in effect until Thursday morning...\\nThe Flood Warning continues for\\nthe Congaree River At Carolina Eastman.\\n* Until Thursday morning.\\n* At 9:28 PM EST Tuesday the stage was 115.6 feet.\\n* Flood stage is 115.0 feet.\\n* Minor flooding is occurring and minor flooding is forecast.\\n* Recent Activity...The maximum river stage in the 24 hours ending\\nat 9:28 PM EST Tuesday was 118.2 feet.\\n* Forecast...The river will rise to 115.7 feet just after midnight\\ntonight. It will then fall below flood stage tomorrow morning to\\n114.2 feet and begin rising again tomorrow evening. It will rise\\nto 114.3 feet early Thursday morning. It will then fall again and\\nremain below flood stage.\\n* Impact...At 115.0 feet, Flooding occurs in low lying areas of the\\nCarolina Eastman Facility and at the Congaree National Park.\\n* Flood History...This crest compares to a previous crest of 116.3\\nfeet on 12/03/2020.\\n&&",\n                "effective": "2021-01-05T21:47:00-05:00",\n                "event": "Flood Warning",\n                "expires": "2021-01-07T06:15:00-05:00",\n                "headline": "Flood Warning issued January 05 at 9:47PM EST until January 07 at 6:15AM EST by NWS",\n                "instruction": "A Flood Warning means that flooding is imminent or occurring. All\\ninterested parties should take necessary precautions immediately.\\nMotorists should not attempt to drive around barricades or drive\\ncars through flooded areas.\\nCaution is urged when walking near riverbanks.\\nAdditional information is available at www.weather.gov.\\nThe next statement will be issued Wednesday morning at 1000 AM EST.",\n                "msgtype": "Alert",\n                "note": "Alert for Calhoun; Lexington; Richland (South Carolina) Issued by the National Weather Service",\n                "severity": "Moderate",\n                "urgency": "Expected"\n            },\n            {\n                "areas": "Calhoun; Richland",\n                "category": "Met",\n                "certainty": "Likely",\n                "desc": "...The Flood Warning continues for the following rivers in South\\nCarolina...\\nCongaree River At Carolina Eastman affecting Richland, Calhoun\\nand Lexington Counties.\\nCongaree River At Congaree National Park-Gadsden affecting\\nCalhoun and Richland Counties.\\nNorth Fork Edisto River At Orangeburg affecting Orangeburg County.\\n...The Flood Warning is now in effect until early Saturday morning...\\nThe Flood Warning continues for\\nthe Congaree River At Congaree National Park-Gadsden.\\n* Until late Friday night.\\n* At 9:00 PM EST Tuesday the stage was 16.5 feet.\\n* Flood stage is 15.0 feet.\\n* Minor flooding is occurring and minor flooding is forecast.\\n* Recent Activity...The maximum river stage in the 24 hours ending\\nat 9:00 PM EST Tuesday was 17.2 feet.\\n* Forecast...The river is expected to fall below flood stage early\\nFriday morning and continue falling to 12.4 feet Sunday evening.\\n* Impact...At 15.0 feet, Flooding begins in the Congaree National\\nPark. This will begin to produce flooding of portions of the lower\\nboardwalk.\\n* Impact...At 17.0 feet, The access road to the Sandy Run\\nsubdivision becomes flooded. The lower boardwalk in the Congaree\\nNational Park becomes flooded by Cedar Creek.\\n* Impact...At 18.0 feet, Several homes in the Sandy Run subdivision\\nalong the river become flooded. At 18 feet the river covers the\\nWeston Lake overlook in the Congaree National Park. Between 18 and\\n18.5 feet the river begins to cover sections of the elevated\\nboardwalk.\\n* Flood History...This crest compares to a previous crest of 16.3\\nfeet on 12/03/2020.\\n&&",\n                "effective": "2021-01-05T21:47:00-05:00",\n                "event": "Flood Warning",\n                "expires": "2021-01-09T04:00:00-05:00",\n                "headline": "Flood Warning issued January 05 at 9:47PM EST until January 09 at 4:00AM EST by NWS",\n                "instruction": "A Flood Warning means that flooding is imminent or occurring. All\\ninterested parties should take necessary precautions immediately.\\nMotorists should not attempt to drive around barricades or drive\\ncars through flooded areas.\\nCaution is urged when walking near riverbanks.\\nAdditional information is available at www.weather.gov.\\nThe next statement will be issued Wednesday morning at 1000 AM EST.",\n                "msgtype": "Alert",\n                "note": "Alert for Calhoun; Richland (South Carolina) Issued by the National Weather Service",\n                "severity": "Moderate",\n                "urgency": "Expected"\n            }\n        ]\n    }\n}'

## Dictionaries and list structures

In [42]:
def display_items(List):
    count=0
    for x in List:
        print(str(count) + ': ' + str(x))
        count += 1

In [43]:
file = open('navigate.json')
data = json.load(file)
file.close()

### First Layer (Dictionary)

In [45]:
data.keys()

dict_keys(['Key', 'Key5'])

In [46]:
data.values()

dict_values([[{'Key2': ['Value1', 'Value2', 'Value3', 'Value4']}, {'Key4': 'Value'}], 'Value5'])

### Second Layer (List)

In [48]:
data['Key']

[{'Key2': ['Value1', 'Value2', 'Value3', 'Value4']}, {'Key4': 'Value'}]

In [49]:
display_items(data['Key'])

0: {'Key2': ['Value1', 'Value2', 'Value3', 'Value4']}
1: {'Key4': 'Value'}

### Third Layer (Dictionary)

In [51]:
data['Key'][0]

{'Key2': ['Value1', 'Value2', 'Value3', 'Value4']}

In [52]:
data['Key'][0].keys()

dict_keys(['Key2'])

In [53]:
data['Key'][0].values()

dict_values([['Value1', 'Value2', 'Value3', 'Value4']])

### Fourth Layer (List)

In [55]:
data['Key'][0]['Key2']

['Value1', 'Value2', 'Value3', 'Value4']

In [56]:
display_items(data['Key'][0]['Key2'])

0: Value1
1: Value2
2: Value3
3: Value4

In [57]:
data['Key'][0]['Key2'][1]

'Value2'

## List Methods

In [59]:
f = open('einstein_quotes.json', 'r')
data = json.load(f)
f.close()
data

[{'_id': 1,
  'author': 'Albert Einstein',
  'quote': 'Everything should be as simple as it can be, but not simpler!',
  'source': None},
 {'_id': 2,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.',
  'source': None},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None}]

### append()

In [61]:
data.append({'author': 'Einstein'})
data

[{'_id': 1,
  'author': 'Albert Einstein',
  'quote': 'Everything should be as simple as it can be, but not simpler!',
  'source': None},
 {'_id': 2,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.',
  'source': None},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None},
 {'author': 'Einstein'}]

### insert()

In [63]:
data.insert(0, {'author': 'Einstein'})
data

[{'author': 'Einstein'},
 {'_id': 1,
  'author': 'Albert Einstein',
  'quote': 'Everything should be as simple as it can be, but not simpler!',
  'source': None},
 {'_id': 2,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.',
  'source': None},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None},
 {'author': 'Einstein'}]

### pop()

In [65]:
data.pop(1)

{'_id': 1,
 'author': 'Albert Einstein',
 'quote': 'Everything should be as simple as it can be, but not simpler!',
 'source': None}

In [124]:
data

[{'author': 'Einstein'},
 {'_id': 2,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.',
  'source': None},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None},
 {'author': 'Einstein'}]

### remove()

In [126]:
data.remove({'author': 'Einstein'})

In [128]:
data

[{'_id': 2,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.',
  'source': None},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None},
 {'author': 'Einstein'}]

### extend()

In [130]:
extension = [
    {
    '_id': 5,
    'author': 'Albert Einstein',
    'quote': "Everything shuld be as simple as it can be, but not simpler.",
    'source': None
    },
    {
    '_id': 6,
    'author': 'Albert Einstein',
    'quote': "Logic will get you from A to Z; imagination will get you everywhere.",
    'source': None
    }    
]

In [132]:
data.extend(extension)
data

[{'_id': 2,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.',
  'source': None},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None},
 {'author': 'Einstein'},
 {'_id': 5,
  'author': 'Albert Einstein',
  'quote': 'Everything shuld be as simple as it can be, but not simpler.',
  'source': None},
 {'_id': 6,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None}]

### reverse()

In [137]:
data.reverse()
data

[{'_id': 6,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None},
 {'_id': 5,
  'author': 'Albert Einstein',
  'quote': 'Everything shuld be as simple as it can be, but not simpler.',
  'source': None},
 {'author': 'Einstein'},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.',
  'source': None},
 {'_id': 2,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None}]

### copy()

In [140]:
data2 = data.copy()
data2

[{'_id': 6,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None},
 {'_id': 5,
  'author': 'Albert Einstein',
  'quote': 'Everything shuld be as simple as it can be, but not simpler.',
  'source': None},
 {'author': 'Einstein'},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.',
  'source': None},
 {'_id': 2,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None}]

### clear()

In [142]:
data.clear()
data

[]

## Dictionary Methods

In [145]:
f = open('einstein_quotes.json', 'r')
data = json.load(f)
f.close()
data

[{'_id': 1,
  'author': 'Albert Einstein',
  'quote': 'Everything should be as simple as it can be, but not simpler!',
  'source': None},
 {'_id': 2,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.',
  'source': None},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None}]

### clear()

In [154]:
data[0].clear()
data

[{},
 {'_id': 2,
  'author': 'Albert Einstein',
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.',
  'source': None},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None}]

### copy()

In [156]:
data2 = data[1].copy()
data2

{'_id': 2,
 'author': 'Albert Einstein',
 'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
 'source': None}

### items()

In [158]:
data[1].items()

dict_items([('_id', 2), ('author', 'Albert Einstein'), ('quote', 'Logic will get you from A to Z; imagination will get you everywhere.'), ('source', None)])

In [160]:
type(data[1].items())

dict_items

In [162]:
list(data[1].items())

[('_id', 2),
 ('author', 'Albert Einstein'),
 ('quote',
  'Logic will get you from A to Z; imagination will get you everywhere.'),
 ('source', None)]

### pop()

In [164]:
data[1].pop('author')
data

[{},
 {'_id': 2,
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.',
  'source': None},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None}]

### popitem()

In [166]:
# removes last key value pair
data[2].popitem()
data

[{},
 {'_id': 2,
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.'},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None}]

In [168]:
data[2]

{'_id': 3,
 'author': 'Albert Einstein',
 'quote': 'Try not to become a man of success. Rather become a man of value.'}

### setdefault()

In [170]:
data[2].setdefault('author', 'Einstein')

'Albert Einstein'

In [172]:
data[1].setdefault('author', 'Einstein')
data

[{},
 {'_id': 2,
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None,
  'author': 'Einstein'},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.'},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None}]

### update()

In [176]:
data[3].update({'birthdate': '1894-03-14'})
data

[{},
 {'_id': 2,
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None,
  'author': 'Einstein'},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.'},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': "It is not that I'm so smart. But I stay with the questions much longer.",
  'source': None,
  'birthdate': '1894-03-14'}]

In [178]:
data[3].update({'quote': 'change the quote'})
data

[{},
 {'_id': 2,
  'quote': 'Logic will get you from A to Z; imagination will get you everywhere.',
  'source': None,
  'author': 'Einstein'},
 {'_id': 3,
  'author': 'Albert Einstein',
  'quote': 'Try not to become a man of success. Rather become a man of value.'},
 {'_id': 4,
  'author': 'Albert Einstein',
  'quote': 'change the quote',
  'source': None,
  'birthdate': '1894-03-14'}]

## Normalize json for pandas

In [187]:
import json
f = open('sea_level_rise.json', 'r')
data = json.load(f)
f.close()

In [189]:
df = pd.json_normalize(data)
df

,data,meta.view.id,meta.view.name,meta.view.assetType,meta.view.attribution,meta.view.attributionLink,meta.view.averageRating,meta.view.category,meta.view.createdAt,meta.view.description,...,meta.view.owner.type,meta.view.owner.flags,meta.view.rights,meta.view.tableAuthor.id,meta.view.tableAuthor.displayName,meta.view.tableAuthor.screenName,meta.view.tableAuthor.type,meta.view.tableAuthor.flags,meta.view.tags,meta.view.flags
0,"[[row-q28d.27v6-9f5h, 00000000-0000-0000-C94D-...",esku-ejgv,"100-Year Storm + 24"" Sea Level Rise",dataset,BCDC,https://explorer.adaptingtorisingtides.org/home,0,Public Safety,1582651989,This data originates from San Francisco Bay Co...,...,interactive,[acceptedEula],[read],rtw4-hi68,Alex Morrison,Alex Morrison,interactive,[acceptedEula],[hcr],"[default, ownerMayBeContacted, restorable, res..."

### record_path argument

In [193]:
df = pd.json_normalize(data, record_path='data')
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,row-q28d.27v6-9f5h,00000000-0000-0000-C94D-CEF7ABC1DF4E,0,1582656196,None,1582656196,None,{ },MULTIPOLYGON (((-122.39340451043492 37.7082709...,1,None,403497.407074,5109724.35419
1,row-cghi-7qw3_w8q7,00000000-0000-0000-7EAE-0CC6453E9A04,0,1582656196,None,1582656196,None,{ },MULTIPOLYGON (((-122.3933817480972 37.70827985...,2,None,219147.103346,794145.707602
2,row-2mj3-iidx.ww5b,00000000-0000-0000-B701-B26A64CD77D6,0,1582656196,None,1582656196,None,{ },MULTIPOLYGON (((-122.39236645792793 37.6997140...,3,None,103724.875386,206087.884076
3,row-sxi6.ix49_8z8p,00000000-0000-0000-72A3-7649F9FF2FDE,0,1582656196,None,1582656196,None,{ },MULTIPOLYGON (((-122.38167178195368 37.7115856...,4,None,14324.6565348,65613.6489693
4,row-ybre~jfpf~e8pe,00000000-0000-0000-E142-2963FA37BC47,0,1582656196,None,1582656196,None,{ },MULTIPOLYGON (((-122.36361154704703 37.7190288...,5,None,6305.14575212,6559.42001802
5,row-xazf-59va_ih27,00000000-0000-0000-1A01-86FD3A7CADD9,0,1582656196,None,1582656196,None,{ },MULTIPOLYGON (((-122.36358900923197 37.7190107...,6,None,3775.37755422,6220.48975269
6,row-fqce_m6u8_p6iy,00000000-0000-0000-9D29-72572931FE29,0,1582656196,None,1582656196,None,{ },MULTIPOLYGON (((-122.36506748482017 37.7252558...,7,None,1956.61676588,9708.36506382

In [195]:
df = pd.json_normalize(data, record_path=['meta','view','columns'])
df

,id,name,dataTypeName,fieldName,position,renderTypeName,flags,description,tableColumnId,cachedContents.non_null,cachedContents.largest,cachedContents.null,cachedContents.top,cachedContents.smallest,cachedContents.cardinality
0,-1,sid,meta_data,:sid,0,meta_data,[hidden],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1,id,meta_data,:id,0,meta_data,[hidden],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-1,position,meta_data,:position,0,meta_data,[hidden],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-1,created_at,meta_data,:created_at,0,meta_data,[hidden],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1,created_meta,meta_data,:created_meta,0,meta_data,[hidden],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,-1,updated_at,meta_data,:updated_at,0,meta_data,[hidden],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,-1,updated_meta,meta_data,:updated_meta,0,meta_data,[hidden],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,-1,meta,meta_data,:meta,0,meta_data,[hidden],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,453003560,the_geom,multipolygon,the_geom,1,multipolygon,NaN,Location Geometry,95163781.0,NaN,NaN,NaN,NaN,NaN,NaN
9,453003561,gridcode,number,gridcode,2,number,NaN,Gridcode from original raster (N/A),95163782.0,7,7,0,"[{'item': '1', 'count': '1'}, {'item': '4', 'c...",1,7
10,453003565,DEPTH_FT,text,depth_ft,3,text,NaN,Depth of original raster (N/A),95163783.0,0,NaN,7,NaN,NaN,0
11,453003585,Shape_Leng,number,shape_leng,4,number,NaN,Planar lengths of the polygon,95163784.0,7,403497.407074,0,"[{'item': '14324.6565348', 'count': '1'}, {'it...",1956.61676588,7
12,453003586,Shape_Area,number,shape_area,5,number,NaN,Planar area of the polygon,95163785.0,7,5109724.35419,0,"[{'item': '65613.6489693', 'count': '1'}, {'it...",6220.48975269,7

### meta argument

In [197]:

df = pd.json_normalize(data, record_path='data',meta='meta')

In [199]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,meta
0,row-q28d.27v6-9f5h,00000000-0000-0000-C94D-CEF7ABC1DF4E,0,1582656196,None,1582656196,None,{ },MULTIPOLYGON (((-122.39340451043492 37.7082709...,1,None,403497.407074,5109724.35419,"{'view': {'id': 'esku-ejgv', 'name': '100-Year..."
1,row-cghi-7qw3_w8q7,00000000-0000-0000-7EAE-0CC6453E9A04,0,1582656196,None,1582656196,None,{ },MULTIPOLYGON (((-122.3933817480972 37.70827985...,2,None,219147.103346,794145.707602,"{'view': {'id': 'esku-ejgv', 'name': '100-Year..."
2,row-2mj3-iidx.ww5b,00000000-0000-0000-B701-B26A64CD77D6,0,1582656196,None,1582656196,None,{ },MULTIPOLYGON (((-122.39236645792793 37.6997140...,3,None,103724.875386,206087.884076,"{'view': {'id': 'esku-ejgv', 'name': '100-Year..."
3,row-sxi6.ix49_8z8p,00000000-0000-0000-72A3-7649F9FF2FDE,0,1582656196,None,1582656196,None,{ },MULTIPOLYGON (((-122.38167178195368 37.7115856...,4,None,14324.6565348,65613.6489693,"{'view': {'id': 'esku-ejgv', 'name': '100-Year..."
4,row-ybre~jfpf~e8pe,00000000-0000-0000-E142-2963FA37BC47,0,1582656196,None,1582656196,None,{ },MULTIPOLYGON (((-122.36361154704703 37.7190288...,5,None,6305.14575212,6559.42001802,"{'view': {'id': 'esku-ejgv', 'name': '100-Year..."
5,row-xazf-59va_ih27,00000000-0000-0000-1A01-86FD3A7CADD9,0,1582656196,None,1582656196,None,{ },MULTIPOLYGON (((-122.36358900923197 37.7190107...,6,None,3775.37755422,6220.48975269,"{'view': {'id': 'esku-ejgv', 'name': '100-Year..."
6,row-fqce_m6u8_p6iy,00000000-0000-0000-9D29-72572931FE29,0,1582656196,None,1582656196,None,{ },MULTIPOLYGON (((-122.36506748482017 37.7252558...,7,None,1956.61676588,9708.36506382,"{'view': {'id': 'esku-ejgv', 'name': '100-Year..."

### max level argument()

In [207]:
df = pd.json_normalize(data, record_path=['meta','view','approvals'], max_level=0)

In [209]:
df

,reviewedAt,reviewedAutomatically,state,submissionId,submissionObject,submissionOutcome,submittedAt,workflowId,reviewer,submissionDetails,submissionOutcomeApplication,submitter
0,1592441916,False,approved,2162099,public_audience_request,change_audience,1588716520,2017,"{'id': 's7k8-df3k', 'displayName': 'Jason Lally'}",{'permissionType': 'read'},"{'endedAt': 1592441916, 'failureCount': 0, 'st...","{'id': 'rtw4-hi68', 'displayName': 'Alex Morri..."

In [211]:
df = pd.json_normalize(data, record_path=['meta','view','approvals'], max_level=1)

In [213]:
df

,reviewedAt,reviewedAutomatically,state,submissionId,submissionObject,submissionOutcome,submittedAt,workflowId,reviewer.id,reviewer.displayName,submissionDetails.permissionType,submissionOutcomeApplication.endedAt,submissionOutcomeApplication.failureCount,submissionOutcomeApplication.startedAt,submissionOutcomeApplication.status,submitter.id,submitter.displayName
0,1592441916,False,approved,2162099,public_audience_request,change_audience,1588716520,2017,s7k8-df3k,Jason Lally,read,1592441916,0,1592441916,success,rtw4-hi68,Alex Morrison

### Exporting DataFrames to JSON

In [216]:
import pandas as pd
data = pd.read_csv('sea_level_rise.csv')
data.head()

,sid,id,position,created_at,created_meta,updated_at,updated_meta,gridcode,DEPTH_FT,Shape_Leng,Shape_Area
0,row-q28d.27v6-9f5h,00000000-0000-0000-C94D-CEF7ABC1DF4E,0,1582656196,NaN,1582656196,NaN,1,NaN,403497.407074,5.109724e+06
1,row-cghi-7qw3_w8q7,00000000-0000-0000-7EAE-0CC6453E9A04,0,1582656196,NaN,1582656196,NaN,2,NaN,219147.103346,7.941457e+05
2,row-2mj3-iidx.ww5b,00000000-0000-0000-B701-B26A64CD77D6,0,1582656196,NaN,1582656196,NaN,3,NaN,103724.875386,2.060879e+05
3,row-sxi6.ix49_8z8p,00000000-0000-0000-72A3-7649F9FF2FDE,0,1582656196,NaN,1582656196,NaN,4,NaN,14324.656535,6.561365e+04
4,row-ybre~jfpf~e8pe,00000000-0000-0000-E142-2963FA37BC47,0,1582656196,NaN,1582656196,NaN,5,NaN,6305.145752,6.559420e+03

### default arguments

In [220]:
data.to_json('Default.json')

### indent argument

In [225]:
data.to_json('Indent.json', indent=4)

### Orient argument

**split**

In [231]:
data.to_json('Orient_Split.json',indent=2 ,orient='split')

**records**

In [233]:
data.to_json('Orient_Records.json',indent=2 ,orient='records')

**index**

In [235]:
data.to_json('Orient_Index.json',indent=2 ,orient='index')

**columns**

In [237]:
data.to_json('Orient_Columns.json',indent=2 ,orient='columns')

**values**

In [239]:
data.to_json('Orient_Values.json',indent=2 ,orient='values')

**table**

In [241]:
data.to_json('Orient_Table.json',indent=2 ,orient='table')

# APIs: A Basic Overview

**What is an API?**

API stands for Application Programming Interface. It's a set of rules and specifications that allow one application to access features or data of another application. This access is typically granted through the use of a set of well-defined commands, functions, and protocols.

**Analogy:**

Think of ordering food at a restaurant:

* You (the application) want to order food (access data/features).
* You interact with the waiter (the API).
* The waiter takes your order (request) and delivers it to the kitchen (another application).
* The kitchen prepares your food and the waiter brings it back (response).

**Basic components of an API request:**

* **Method:**  The action you want to perform (e.g., GET, POST, PUT, DELETE). These are commonly known as HTTP methods.
* **Endpoint:** The specific location of the resource you want to access (like a URL).
* **Headers:**  Provide additional information about the request (e.g., authentication).
* **Body:** Contains data you want to send with the request (e.g., for creating a new user).

**Diagram:**

```
[Application 1] <---> [API] <---> [Application 2]
                       ^
                       |
                  [Request with Method, Endpoint, Headers, Body]
                       |
                       v
                  [Response with Status Code, Headers, Body]
```

**Example:**

Getting the current temperature in London using a weather API:

* **Method:** GET (to retrieve data)
* **Endpoint:** `/weather?city=London` 
* **Request:** `GET /weather?city=London`
* **Response:**  `{ "city": "London", "temperature": "15C" }`

**Why are APIs important?**

* **Efficiency:** Reuse existing functionalities.
* **Innovation:** Enable the creation of new applications by combining existing ones.
* **Integration:** Allow different applications to communicate and share data.

**Further Reading:**

* **Medium article:** [The Basics of API for Beginners: A Complete Guide](https://medium.com/@techwritershub/the-basics-of-api-for-beginners-a-complete-guide-be4d0c9d9b15)
* **HubSpot blog post:** [What Is An API Diagram? Explaining REST API Architecture](https://blog.hubspot.com/website/api-diagram)
* **Multiplayer.app article:** [API Flow Diagram: Best Practices & Examples](https://www.multiplayer.app/distributed-systems-architecture/api-flow-diagram/)
* **Technology Advice article:** [How to Use an API: Just the Basics](https://technologyadvice.com/blog/information-technology/how-to-use-an-api/)
* **Lucidchart blog post:** [Why You Should Create API Diagrams](https://www.lucidchart.com/blog/why-you-should-create-an-api-diagram)

# Diving Deeper into API Concepts

## 1. API Protocols

API protocols define the rules for how applications communicate. They govern data format, exchange methods, and error handling. Common protocols include:

* **REST (Representational State Transfer):**  The most popular, using standard HTTP methods (GET, POST, PUT, DELETE) to interact with resources. REST APIs are stateless.
* **SOAP (Simple Object Access Protocol):** More structured, using XML for message exchange. Often relies on WSDL for interface definition.
* **GraphQL:**  A query language allowing clients to request specific data, reducing over-fetching.

## 2. API Contexts

Context refers to the circumstances surrounding an API request:

* **User authentication:** Who's making the request? Are they authorized?
* **Request origin:** Where's the request coming from? Used for security and rate limiting.
* **Request parameters:** What data is being requested? This influences API processing and the returned data.

## 3. API Endpoints

An endpoint is a URL representing a resource or functionality. It's where an application sends requests. Examples:

* `/users`: To access user information.
* `/posts`: To access posts.
* `/users/{user_id}/posts`: To access posts by a specific user.

## 4. API Verbs (HTTP Methods)

Verbs define the action to be performed:

* **GET:** Retrieve data.
* **POST:** Create a new resource.
* **PUT:** Update an existing resource.
* **DELETE:** Delete a resource.
* **PATCH:** Partially modify a resource.

## 5. API Responses

Responses are the server's reply to a request:

* **Status code:** Indicates request success or failure (e.g., 200 OK, 404 Not Found).
* **Headers:** Provide metadata about the response (e.g., content type, caching information).
* **Body:** Contains the actual data returned by the API (e.g., JSON, XML).

## Making test API call

## Documentation

https://openweathermap.org/current

In [320]:
import requests

url = "https://api.openweathermap.org/data/2.5/weather"

querystring = {"lat":"19.8968","lon":"155.5828","appid":api_key}

response = requests.request("GET", url, params=querystring)

response.text

'{"coord":{"lon":155.5828,"lat":19.8968},"weather":[{"id":800,"main":"Clear","description":"clear sky","icon":"01n"}],"base":"stations","main":{"temp":300.92,"feels_like":304.54,"temp_min":300.92,"temp_max":300.92,"pressure":1014,"humidity":79,"sea_level":1014,"grnd_level":1014},"visibility":10000,"wind":{"speed":7.7,"deg":85,"gust":8.41},"clouds":{"all":0},"dt":1731323136,"sys":{"sunrise":1731267846,"sunset":1731308363},"timezone":36000,"id":0,"name":"","cod":200}'

### convert JSON response to a Python Dictionary

In [323]:
import json
data = json.loads(response.text)
data

{'coord': {'lon': 155.5828, 'lat': 19.8968},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01n'}],
 'base': 'stations',
 'main': {'temp': 300.92,
  'feels_like': 304.54,
  'temp_min': 300.92,
  'temp_max': 300.92,
  'pressure': 1014,
  'humidity': 79,
  'sea_level': 1014,
  'grnd_level': 1014},
 'visibility': 10000,
 'wind': {'speed': 7.7, 'deg': 85, 'gust': 8.41},
 'clouds': {'all': 0},
 'dt': 1731323136,
 'sys': {'sunrise': 1731267846, 'sunset': 1731308363},
 'timezone': 36000,
 'id': 0,
 'name': '',
 'cod': 200}

In [325]:
data = response.json()
data

{'coord': {'lon': 155.5828, 'lat': 19.8968},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01n'}],
 'base': 'stations',
 'main': {'temp': 300.92,
  'feels_like': 304.54,
  'temp_min': 300.92,
  'temp_max': 300.92,
  'pressure': 1014,
  'humidity': 79,
  'sea_level': 1014,
  'grnd_level': 1014},
 'visibility': 10000,
 'wind': {'speed': 7.7, 'deg': 85, 'gust': 8.41},
 'clouds': {'all': 0},
 'dt': 1731323136,
 'sys': {'sunrise': 1731267846, 'sunset': 1731308363},
 'timezone': 36000,
 'id': 0,
 'name': '',
 'cod': 200}

# Request Components

## headers

In [305]:
import requests

url = "https://example.com/Contacts/v2/getContact"

querystring= {'Name':'Berkley'}

response = requests.request("GET",url,params=querystring)

response.request.headers

{'User-Agent': 'python-requests/2.31.0', 'Accept-Encoding': 'gzip, deflate, br', 'Accept': '*/*', 'Connection': 'keep-alive'}

In [309]:
url = "https://example.com/Contacts/v2/getContact"

headers = {'User-Agent':'Chrome','Authorization':'API-KEY 12345abcd'}

querystring= {'Name':'Berkley'}

response = requests.request("GET",url,params=querystring,headers=headers)

response.request.headers

{'User-Agent': 'Chrome', 'Accept-Encoding': 'gzip, deflate, br', 'Accept': '*/*', 'Connection': 'keep-alive', 'Authorization': 'API-KEY 12345abcd'}

## Body

In [312]:
url = "https://example.com/api/v2/addContact"

data = {'firstName':'Dilion'}

response = requests.request("POST",url, json=data)

response.request.body

b'{"firstName": "Dilion"}'

# Response Components

In [328]:
import requests

url = "https://api.openweathermap.org/data/2.5/weather"

querystring = {"lat":"19.8968","lon":"155.5828","appid":api_key}

response = requests.request("GET", url, params=querystring)

## headers

In [330]:
response.headers

{'Server': 'openresty', 'Date': 'Mon, 11 Nov 2024 11:06:23 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Content-Length': '468', 'Connection': 'keep-alive', 'X-Cache-Key': '/data/2.5/weather?lat=19.9&lon=155.58', 'Access-Control-Allow-Origin': '*', 'Access-Control-Allow-Credentials': 'true', 'Access-Control-Allow-Methods': 'GET, POST'}

## Response code

In [335]:
response.status_code, response.reason

(200, 'OK')

In [337]:
querystring = {"lat":"19.8968","lon":"155.5828","appid":api_key}

response = requests.request("PATCH",url,params=querystring)

response.status_code, response.reason

(405, 'Method Not Allowed')

## Response Time

In [339]:
response.elapsed

datetime.timedelta(microseconds=627570)